<!-- Component to add tabs functionality. 
Please note: tab property in <ion-tab-button> should match with the path on routing module -->

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="show-inventory">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Lista Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan-product-halfscreen">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-label>Escanear [1:2]</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
