<!-- header of scan tab -->
<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Escanear producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-grid fixed>
  <ion-row class="scanner-container">
    <ion-col size="12">
      <ion-button (click)="activateScan()" expand="block" fill="solid" shape="round">
        Click me
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<!--  
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Awesome Label!!!!</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>
</ion-content>-->